<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>StudyBud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}

    </ul>
    {% endif %}

    <img src= "{% static 'images/DSC_0002.JPG' %}" width="120" height="180" alt="None"/>

    {% block content %}


    {% endblock %}

</body>
</html>